# Dependencies
node_modules/

# Hardhat
cache/
artifacts/
typechain-types/

# Coverage
coverage/
coverage.json

# Env files
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Misc
*.log
.cache/
